{
	email {$ACME_EMAIL}
}

{$DOMAIN} {
	encode gzip zstd

	request_body {
		max_size 1MB
	}

	@webhooks path /telegram /tribute
	handle @webhooks {
		reverse_proxy bot:9090
	}

	handle / {
		reverse_proxy bot:9090
	}

	handle {
		respond "Not found" 404
	}

	log {
		output stdout
		format console
	}
}
