💰 <b>Новый взнос!</b>

{{ display_name }} внёс <b>{{ amount_kopecks|amount }} ₽</b>
{% if rank is not none %}
🏅 Место в рейтинге: <b>{{ rank }}</b>
{% endif %}
{% if comment %}

💬 «{{ comment }}»
{% endif %}
