{% set percent, bar = progress(fundraiser.current_amount, fundraiser.target_amount) %}
{{ bar }} <b>{{ percent }}%</b>

🎯 Цель: <b>{{ fundraiser.target_amount|amount }} ₽</b>
🧰 Собрано: <b>{{ fundraiser.current_amount|amount }} ₽</b>
💸 Осталось: <b>{{ remaining|amount }} ₽</b>
{% if fundraiser.title %}
📹 <b>{{ fundraiser.title }}</b>
{% endif %}
🗓 {{ start_date }} — {{ end_date }}
